gioi thieu
<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/GioiThieu/BanThan">ban than</a>
        </li>
        <li class="nav-item">
            <a href="/GioiThieu/ChaMe">Cha me</a>
        </li>
        <li class="nav-item">
            <a href="/GioiThieu/AnhChiEm">anh chi em</a>

        </li>
    </ul>

</nav>